{{define "title"}}Home{{end}}

{{define "main"}}
    <div class="row g-3">
        {{range $v := .}}
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="/view/{{ .Title }}">view {{ .Title }}</a>
                            <a href="/delete/{{ .Title }}">delete</a>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ .Body | safeHTML }}
                    </div>
                </div>
            </div>
        {{end}}
    </div>
{{end}}