{{define "title"}}New{{end}}

{{define "main"}}
    <h1>New page</h1>

    <form action="/new" method="POST">
        <div class="my-3">
            <input type="text" name="title" class="form-control">
        </div>
        <div class="my-3">
		    <textarea  id="editor"  class="form-control" name="body" rows="20" cols="80"></textarea>
        </div>
        <div class="my-3 text-end">
			<input type="submit" value="Save" class="btn btn-success">
        </div>
    </form>


    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
        console.log( editor );
        } )
        .catch( error => {
        console.error( error );
        } );
    </script>
{{end}}